{% extends "chat/base.html" %}

{% block title %}Chat room{% endblock %}

{% block content %}
    {#    <div id="chat-log"></div><br>#}
    {#    <input id="chat-message-input" type="text" size="100"><br>#}
    {#    <input id="chat-message-submit" type="button" value="Send">#}
    {{ room_name|json_script:"room-name" }}

    <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-10 col-lg-8 col-xl-6">

            <div class="card" id="chat2">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h5 class="mb-0">{{ room_name }}</h5>
                </div>
                <div id="chat-log" class="card-body" data-mdb-perfect-scrollbar="true"
                     style="position: relative; height: 400px">
                </div>
                <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                    <input id="chat-message-input" type="text" size="100" class="form-control form-control-lg"
                           placeholder="Type message"><br>
                    <input id="chat-message-submit" type="button" value="Send" class="btn btn-success">
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const url = 'ws://' + window.location.host + '/ws/chat/' + roomName + '/';
        const chatSocket = new WebSocket(url);

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            const dateOptions = {hour: 'numeric', minute: 'numeric', hour12: true};
            const datetime = new Date(data.datetime).toLocaleString('en', dateOptions);
            const isMe = data.user === '{{ request.user }}';
            const name = isMe ? 'Me' : data.user;
            const message = data.message;

            const $chat = $('#chat-log');
            $chat.append(
                "<div class=\"d-flex flex-row justify-content-start\">" +
                "<p class=\"small ms-3 mb-3 rounded-3 text-muted\">" + name + "</p>" +
                "<div><p class=\"small p-2 ms-3 mb-1 rounded-3\" style=\"background-color: #f5f6f7;\">" + message + "</p>" +
                "<p class=\"small ms-3 mb-3 rounded-3 text-muted\">" + datetime + "</p>" + "</div></div>"
            );
            $chat.scrollTop($chat[0].scrollHeight);
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}
